[Desktop Entry]
Name=Amazon
Comment=Open Amazon in Browser
Exec=sh -c '$HOME/.config/scripts/librewolf-workspace.sh https://www.amazon.de'
Icon=amazon_icon
Terminal=false
Type=Application
Categories=Network;Shopping;OnlineShop
