[Desktop Entry]
Name=WhatsApp
Comment=Open WhatsApp in Browser
Exec=sh -c '$HOME/.config/scripts/librewolf-workspace.sh https://web.whatsapp.com/'
Icon=whatsapp_icon
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
