* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(34, 36, 38, 0.9);
}

button {
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
  text-decoration-color: #fff;
  color: #ccc;
  background-color: #111213;
  border-color: #111213;
  border-width: 4px;
  margin: 0.3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:focus,
button:active,
button:hover {
  background-color: #1a1b1c;
  color: #48E4F3;
  border-color: #48E4F3;

  animation-name: pulse;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
  animation-duration: 1.2s;
}

@keyframes pulse {
  to {
    color: #EF4AE6;
    border-color: #EF4AE6;
  }
}

#lock { background-image: image(url("@lock@"), url("@lock@")); }
#logout { background-image: image(url("@logout@"), url("@logout@")); }
#suspend { background-image: image(url("@suspend@"), url("@suspend@")); }
#hibernate { background-image: image(url("@hibernate@"), url("@hibernate@")); }
#shutdown { background-image: image(url("@shutdown@"), url("@shutdown@")); }
#reboot { background-image: image(url("@reboot@"), url("@reboot@")); }
