[Desktop Entry]
Name=Undertale Yellow
Comment=Launch Undertale Yellow with Wine
Exec=sh -c 'wine "$HOME/.local/bin/exe/Undertale Yellow v1_1/Undertale Yellow.exe"'
Icon=undertale_yellow
Terminal=false
Type=Application
Categories=Game;
