[Desktop Entry]
Name=Disney Plus
Comment=Open Disney+ in Browser
Exec=sh -c '$HOME/.config/scripts/librewolf-workspace.sh https://www.disneyplus.com'
Icon=disneyplus_icon
Terminal=false
Type=Application
Categories=Network;AudioVideo;Player;
