[Desktop Entry]
Name=Reddit
Comment=Open Reddit in Browser
Exec=sh -c '$HOME/.config/scripts/librewolf-workspace.sh https://www.reddit.com/'
Icon=reddit_icon
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
