[Desktop Entry]
Name=Twitch
Comment=Open Twitch in Browser
Exec=sh -c '$HOME/.config/scripts/librewolf-workspace.sh https://www.twitch.tv'
Icon=twitch_icon
Terminal=false
Type=Application
Categories=Network;AudioVideo;Player;
Actions=stream-manager

[Desktop Action stream-manager]
Name=Open Stream Manager
Exec=sh -c '$HOME/.config/scripts/librewolf-workspace.sh https://dashboard.twitch.tv/stream-manager'
